@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --background: 220 16.36% 21.57%;
      --foreground: 218 27% 94%;
      --card: 222 16% 28%;
      --card-foreground: 0 0% 95%;
      --popover: 220 16.48% 35.69%;
      --popover-foreground: 0 0% 95%;
      --primary: 210 34% 63%;
      --primary-foreground: 167 100% 10.3%;
    --secondary: 0 100% 67%;
      --secondary-foreground: 0 0% 98%;
      --muted: 245.71 24.14% 17.06%;
      --muted-foreground: 167 5% 64.9%;
      --accent: 220 17% 32%;
      --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
      --border: 220 16% 22%;
      --input: 247.5 23.53% 20%;
    --ring: 167 77.2% 49.8%;
    --radius: .5rem;
  }

  .dark {
    --background: 220 16.36% 21.57%;
    --foreground: 218 27% 94%;
    --card: 222 16% 28%;
    --card-foreground: 0 0% 95%;
      --popover: 220 16.48% 35.69%;
    --popover-foreground: 0 0% 95%;
    --primary: 210 34% 63%;
    --primary-foreground: 167 100% 10.3%;
    --secondary: 0 100% 67%;
    --secondary-foreground: 0 0% 98%;
    --muted: 245.71 24.14% 17.06%;
    --muted-foreground: 167 5% 64.9%;
    --accent: 220 17% 32%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 220 16% 22%;
    --input: 247.5 23.53% 20%;
    --ring: 167 77.2% 49.8%;
    --chart-1: 167 77% 50%;
    --chart-2: 167 77% 62%;
    --chart-3: 167 80% 72%;
    --chart-4: 167 83% 82%;
    --chart-5: 167 83% 91%;

    --novel-highlight-default: #000000;
    --novel-highlight-purple: #3f2c4b;
    --novel-highlight-red: #5c1a1a;
    --novel-highlight-yellow: #5c4b1a;
    --novel-highlight-blue: #1a3d5c;
    --novel-highlight-green: #1a5c20;
    --novel-highlight-orange: #5c3a1a;
    --novel-highlight-pink: #5c1a3a;
    --novel-highlight-gray: #3a3a3a;

    --editor-background: 220 17% 17%;
    --editor-fg: 218 27% 94%;
    --editor-heading: 210 34% 63%;
    --editor-lead: 60 30% 96%;
    --editor-link: 210 34% 63%;
    --editor-bold: 60 30% 96%;
    --editor-counter: 60 30% 96%;
    --editor-bullet: 248 15% 60.78%;
    --editor-hr: 247.5 13.19% 35.69%;
    --editor-quote: 231 15% 74%;
    --editor-quote-border: 210 34% 63%;
    --editor-caption: 231 15% 74%;
    --editor-inline-code: #e0def4;
    --editor-pre-code: 60 30% 96%;
    --editor-pre-bg: 220 16.36% 21.57%; /* done*/
    --editor-th-border: 232 14% 31%;
    --editor-td-border: 233 14% 26%;
    --editor-h1: 210 34% 63%;
    --editor-h2: 210 34% 63%;
    --editor-h3: 210 34% 63%;
    --editor-h4: 210 34% 63%;
    --editor-h5: 210 34% 63%;
    --editor-h6: 210 34% 63%;

  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


pre {
  background: #0d0d0d;
  border-radius: 0.5rem;
  color: #fff;
  font-family: "JetBrainsMono" monospace;
  padding: 0.75rem 1rem;

  code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
  }

  .hljs-comment,
  .hljs-quote {
    color: #5e81ac;
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-name,
  .hljs-regexp,
  .hljs-link,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #d8dee9;
  }

  .hljs-number,
  .hljs-meta,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: #8fbcbb;
  }

  .hljs-string,
  .hljs-symbol,
  .hljs-bullet {
    color: #a3be8c;
  }

  .hljs-title,
  .hljs-section {
    color: #e0def4;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: #88c0d0;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: 700;
  }
}


*::-webkit-scrollbar {
  @apply w-1.5 h-1.5 !important;

}

::-webkit-scrollbar-track {
  @apply bg-transparent
}

mark {
  @apply !bg-[#403d52]
}
.sidebar-options {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  position: sticky;
  top: 1rem;
}

.table-of-contents {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  gap: 0.25rem;
  overflow: auto;
  text-decoration: none;

  > div {
    border-radius: 0.25rem;
    padding-left: calc(0.875rem * (var(--level) - 1));
    transition: all 0.2s cubic-bezier(0.65 0.05 0.36 1);

    &:hover {
      background-color: hsl(var(--accent));
    }
  }

  .empty-state {
    color: hsl(var(--destructive));
    user-select: none;
  }

  .is-active a {
    color: red;
  }

  .is-scrolled-over a {
    color: hsl(var(--muted-foreground));
  }

  a {
    color: hsl(var(--foreground));
    display: flex;
    gap: 0.25rem;
    text-decoration: none;

    &::before {
      content: attr(data-item-index) ".";
    }
  }
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-[hsl(var(--primary))] border-[1px] border-transparent border-solid bg-clip-padding;
}
